<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h2>Cửa Hàng</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chi tiết bữa ăn dinh dưỡng</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- page main wrapper start -->
<div class="product-details-wrapper pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="vertical-slider flex-row-reverse">
                    <div class="vertical-first">
                        <div class="product-large-slider2">
                            <div class="pro-large-img">
                                <img [src]="productImage" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="vertical-second">
                        <div class="pro-nav2 slick-arrow-style" *ngFor="let food of listProduct">
                            <div class="pro-nav-thumb quick-view-link" >
                                <a href="/p/{{util.generateURL(food.name, food.id)}}" >
                                    <img data-toggle="tooltip" title="{{food.name}}" [src]="food.image" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details-des">
                    <div class="product-content-list">
                        <div class="ratings">
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                        </div>
                        <div class="product-name">
                            <h4><a href="product-details.html" >{{dataCombo?.name}}</a></h4>
                        </div>
                        <div class="price-box">
                            <span class="regular-price">{{util.formatPrice(dataCombo?.price)}}</span>
                        </div>
                        <p>{{dataCombo?.description}}</p>
                        <div class="action-link mb-20">
                            <a href="#" data-toggle="tooltip" title="Thêm" class="add-to-cart">Thêm vào giỏ hàng</a>
                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                            <a href="#" data-toggle="tooltip" title="Compare"><i class="ion-ios-shuffle"></i></a>
                        </div>
                        <div class="availability mb-20">
                            <h5>Availability:</h5>
                            <span>10 in stock</span>
                        </div>
                        <div class="share-icon">
                            <h5>share:</h5>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="title-main">Hàm lượng dinh dưỡng trong combo</label>
                <div class="box_content">
                    <p>Chất bột đường (carbonhydrates): {{dataCombo?.carbonhydrates}} g</p>
                    <p>Chất đạm (protein): {{dataCombo?.protein}} g</p>
                    <p>Chất béo (lipid): {{dataCombo?.lipid}} g</p>
                    <p>Chất xơ (cellulose): {{dataCombo?.xenluloza}} g</p>
                    <p>Canxi: {{dataCombo?.canxi}} mg</p>
                    <p>Sắt: {{dataCombo?.iron}} mg</p>
                    <p>Kẽm: {{dataCombo?.zinc}} mg</p>
                    <p>vitamin A: {{dataCombo?.vitaminA}} µg</p>
                    <p>Vitamin B: {{dataCombo?.vitaminC}} µg</p>
                    <p>vitaminC: {{dataCombo?.vitaminC}} µg</p>
                    <p>vitaminD: {{dataCombo?.vitaminD}} µg</p>
                    <p>vitaminE: {{dataCombo?.vitaminE}} µg</p>
                    <p>Calories: {{dataCombo?.calorie}} calo</p>
                    <p>Weigh: {{dataCombo?.weight}} g</p>
                </div>
            </div>
            <div class="col-lg-12">
                <label class="title-main">Đánh Giá</label>
                <div class="box_content">
                    <div class="fb-comments" data-width="100%" data-numposts="20"></div>
                </div>
                <div id="fb-root"></div>
            </div>
        </div>
    </div>
</div>
<!-- page main wrapper end -->

<!-- related product area start -->
<section class="related-product pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>related product</h2>
                </div>
            </div>
        </div>
        <div class="row related-product-active slick-arrow-style">
            <div class="col">
                <div class="product-item mb-50">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-6.jpg" alt="">
                        </a>
                        <div class="quick-view-link">
                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip"
                                    title="Quick view"><i class="ion-ios-eye-outline"></i></span> </a>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <div class="ratings">
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                        </div>
                        <div class="product-name">
                            <h4 class="h5">
                                <a href="product-details.html">Condimen food</a>
                            </h4>
                        </div>
                        <div class="price-box">
                            <span class="regular-price">$110.00</span>
                            <span class="old-price"><del></del></span>
                        </div>
                        <div class="product-action-link">
                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to cart"><i class="ion-bag"></i></a>
                            <a href="#" data-toggle="tooltip" title="Compare"><i class="ion-ios-shuffle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-item mb-50">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-3.jpg" alt="">
                        </a>
                        <div class="quick-view-link">
                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip"
                                    title="Quick view"><i class="ion-ios-eye-outline"></i></span> </a>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <div class="ratings">
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                        </div>
                        <div class="product-name">
                            <h4 class="h5">
                                <a href="product-details.html">organic food</a>
                            </h4>
                        </div>
                        <div class="price-box">
                            <span class="regular-price">$110.00</span>
                            <span class="old-price"><del></del></span>
                        </div>
                        <div class="product-action-link">
                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to cart"><i class="ion-bag"></i></a>
                            <a href="#" data-toggle="tooltip" title="Compare"><i class="ion-ios-shuffle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-item mb-50">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-2.jpg" alt="">
                        </a>
                        <div class="quick-view-link">
                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip"
                                    title="Quick view"><i class="ion-ios-eye-outline"></i></span> </a>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <div class="ratings">
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                        </div>
                        <div class="product-name">
                            <h4 class="h5">
                                <a href="product-details.html">Condimentum fruits</a>
                            </h4>
                        </div>
                        <div class="price-box">
                            <span class="regular-price">$110.00</span>
                            <span class="old-price"><del></del></span>
                        </div>
                        <div class="product-action-link">
                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to cart"><i class="ion-bag"></i></a>
                            <a href="#" data-toggle="tooltip" title="Compare"><i class="ion-ios-shuffle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-item mb-50">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-1.jpg" alt="">
                        </a>
                        <div class="quick-view-link">
                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip"
                                    title="Quick view"><i class="ion-ios-eye-outline"></i></span> </a>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <div class="ratings">
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                        </div>
                        <div class="product-name">
                            <h4 class="h5">
                                <a href="product-details.html">organic vegetables</a>
                            </h4>
                        </div>
                        <div class="price-box">
                            <span class="regular-price">$110.00</span>
                            <span class="old-price"><del></del></span>
                        </div>
                        <div class="product-action-link">
                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to cart"><i class="ion-bag"></i></a>
                            <a href="#" data-toggle="tooltip" title="Compare"><i class="ion-ios-shuffle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-item mb-50">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-8.jpg" alt="">
                        </a>
                        <div class="quick-view-link">
                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip"
                                    title="Quick view"><i class="ion-ios-eye-outline"></i></span> </a>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <div class="ratings">
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                        </div>
                        <div class="product-name">
                            <h4 class="h5">
                                <a href="product-details.html">Condimentum fruits</a>
                            </h4>
                        </div>
                        <div class="price-box">
                            <span class="regular-price">$110.00</span>
                            <span class="old-price"><del></del></span>
                        </div>
                        <div class="product-action-link">
                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to cart"><i class="ion-bag"></i></a>
                            <a href="#" data-toggle="tooltip" title="Compare"><i class="ion-ios-shuffle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-item mb-50">
                    <div class="product-thumb">
                        <a href="product-details.html">
                            <img src="assets/img/product/product-10.jpg" alt="">
                        </a>
                        <div class="quick-view-link">
                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip"
                                    title="Quick view"><i class="ion-ios-eye-outline"></i></span> </a>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <div class="ratings">
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                            <span><i class="ion-android-star"></i></span>
                        </div>
                        <div class="product-name">
                            <h4 class="h5">
                                <a href="product-details.html">dimentum vegetables</a>
                            </h4>
                        </div>
                        <div class="price-box">
                            <span class="regular-price">$110.00</span>
                            <span class="old-price"><del></del></span>
                        </div>
                        <div class="product-action-link">
                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add to cart"><i class="ion-bag"></i></a>
                            <a href="#" data-toggle="tooltip" title="Compare"><i class="ion-ios-shuffle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- related product area end -->