<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h2>shop</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chi tiết lịch trình ăn uống</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- compare main wrapper start -->
<div class="compare-page-wrapper pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Compare Page Content Start -->
                <div class="compare-page-content-wrap">
                    <div class="compare-table table-responsive">
                        <table class="table table-bordered mb-0">
                            <tbody>
                                <tr>
                                    <td class="first-column">Ngày</td>
                                    <td class="first-column">
                                        <p class="title ">Sáng</p>
                                    </td>
                                    <td class="first-column">
                                        <p class="title">Trưa</p>
                                    </td>
                                    <td class="first-column">
                                        <p  class="title">Tối</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-column">Thứ 2</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">Stock Out</td>
                                    <td class="pro-stock">In Stock</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Thứ 3</td>
                                    <td class="pro-price">$295</td>
                                    <td class="pro-price">$275</td>
                                    <td class="pro-price">$395</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Thứ 4</td>
                                    <td class="pro-color">Black</td>
                                    <td class="pro-color">Red</td>
                                    <td class="pro-color">Blue</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Thứ 5</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">Stock Out</td>
                                    <td class="pro-stock">In Stock</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Thứ 6</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">Stock Out</td>
                                    <td class="pro-stock">In Stock</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Thứ 7</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">Stock Out</td>
                                    <td class="pro-stock">In Stock</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Chủ nhật</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">Stock Out</td>
                                    <td class="pro-stock">In Stock</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Compare Page Content End -->
            </div>
        </div>
    </div>
</div>
