.orderPage h2 {
    margin-top: 30px;
}

.checkout-billing-details-wrap h2 {
    margin-top: 30px;
}

.billing-form-wrap form {
    margin-left: 20px;
}

.nice-select {
    width: 100%;
    border-radius: 0;
    height: 48px;
    border-color: #ccc;
    background-color: #f7f7f7;
}