<div class="wrapper">
        <form action="" id="wizard">
            <!-- SECTION 1 -->
            <h4></h4>
            <section>
                <fieldset id="bodyIndex">
                    <legend>Chỉ số cơ thể</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-input-item">
                                <label for="new-pwd" class="required">Chiều cao</label>
                                <input name="height" type="text" #height placeholder="Chiều cao" required/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-input-item">
                                <label for="confirm-pwd" class="required">Cân nặng</label>
                                <input name="weight" type="text" #weight id="confirm-pwd"
                                    placeholder="Cân nặng" required/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-input-item">
                                <label for="confirm-pwd" class="required" required>Tuổi</label>
                                <input name="age" type="text" #age
                                    placeholder="Tuổi" required/>
                            </div>
                        </div>
                    </div>
                    <div class="single-input-item">
                        <label for="current-pwd" class="required" required>Giới tính</label>
                        <select class="form-control col-lg-6">
                            <option value="male" selected>Nam</option>
                            <option value="female" >Nữ</option>
                          </select>
                    </div>
                    <span class="error">{{textError}}</span>
                </fieldset>
            </section>

            <!-- SECTION 2 -->
            <h4></h4>
            <section>
                <div class="myaccount-content">
                    <h3>Mức độ vận động và bệnh lí</h3>
                    <br>
                    <div class="single-input-item">
                        <label class="required" >Cường độ vận động</label>
                        <select class="form-control col-lg-8">
                            <option value="Sedentary">Ít Vận Động</option>
                            <option value="Light activity">Vận động nhẹ</option>
                            <option value="Nomarl activity">Bình thường</option>
                            <option value="Activity much">Vận động nhiều</option>
                            <option value="Activiti a lot">Vận động rất nhiều</option>
                          </select>
                    </div>
                    <div class="single-input-item">
                        <label class="required" >Danh mục vận động</label>
                        <select class="form-control col-lg-8">
                            <option>Lấy từ api về!</option>
                          </select>
                    </div>
                    <div class="single-input-item">
                        <label class="required" >Ngoài ra bạn có mắc bệnh nào có dưới đây không ?</label>
                        <select class="form-control col-lg-8">
                            <option value="Sedentary">Chỗ này lấy từ api về</option>
                          </select>
                    </div>
                </div>
            </section>

            <!-- SECTION 3 -->
            <h4></h4>
            <section>
                <div class="myaccount-content">
                    <h3>Mục tiêu</h3>
                    <br>
                    <div class="single-input-item">
                        <label class="required" >Mục tiêu cân nặng muốn đạt được</label>
                        <br>
                        <input class="col-lg-8" type="text" placeholder="">
                    </div>
                    <div class="single-input-item">
                            <label class="required" >Trong bao lâu ?</label>
                            <br>
                            <input class="col-lg-8" type="text" placeholder="">
                        </div>
                </div>
            </section>

            <!-- SECTION 4 -->
            <h4></h4>
            <section>
                <h3>Chỗ này show ra chỉ số BMI thể trạng cơ thể gợi ý nên ăn gì để cải thiện cơ thể</h3>
                <div class="single-input-item">
                        <button (click)="goHome()" class="btn btn__bg btn__sqr">Trang chủ</button>
                    </div>
            </section>
            
        </form>
    </div>