.wrapper {
    background-image: url("../../assets/images/form-wizard-bg.jpg");
    background-size: 100%;
}

select{
    background: white
}

.single-input-item button{
    margin-left: 40%;
}

.error {
    color: red;
    margin-top: 25px;
}