.wrapper {
    background-image: url("../../assets/images/form-wizard-bg.jpg");
    background-size: cover;
    /* background-repeat: round; */
}

select{
    background: white
}

.single-input-item button{
    margin-left: 40%;
}

.error {
    color: red;
    margin-top: 25px;
}

.hoanthanh {
    margin-left: 30%;
    margin-top: 35px;
}