<!-- hero slider area start -->
<section class="hero-slider-area">
    <div class="hero-slider-active slider-arrow-style">
        <div class="single-slider hero-bg hero-bg__1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-inner">
                            <div class="slider-content">
                                <h1>Ưu đãi tuyệt vời cho các sản phẩm dinh dưỡng</h1>
                                <p>Chúng tôi luôn cung cấp các sản phẩm dinh dưỡng với chất lượng tốt nhất cho bạn</p>
                                <a href="javascript:void(0)" [routerLink]="['/pl/list']"
                                    [queryParams]="{ page: 1}" class="btn">Xem Ngay</a>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/slider/slide_1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero slider area start -->

<!-- service features start -->
<section class="service-features pt-30">
    <div class="container">
        <div class="service-features-inner theme-color">
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-paper-airplane"></i>
                </div>
                <div class="features-content">
                    <h5>Miễn Phí Vận CHuyển</h5>
                    <p>Miễn phí vận chuyển với những</p>
                    <p>đơn hàng trên 500.000<sup>đ</sup></p>
                </div>
            </div>
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-social-usd"></i>
                </div>
                <div class="features-content">
                    <h5>Hoàn Tiền Nhanh Chóng</h5>
                    <p>Cam kết hoàn lại 100% số tiền nếu bạn sử dụng</p>
                    <p>sản phẩm của AnLanhManh không hiệu quả</p>
                </div>
            </div>
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-help-buoy"></i>
                </div>
                <div class="features-content">
                    <h5>Hỗ Trợ Trực Tuyến</h5>
                    <p>Nếu bạn cần tư vấn về món ăn dinh dưỡng</p>
                    <p>phù hợp với mình, chúng tôi luôn sẵn sàng!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service features end -->

<!-- popular category start -->
<section class="popular-category bg-gray mt-minus pt-60 pb-60 pb-md-30 pb-sm-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center pt-62">
                    <h2>Nhóm Dinh Dưỡng Nổi Bật</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color1 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Vitamin và khoáng chất</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-1.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color2 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Chất bột đường</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-2.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color3 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Chất béo</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color4 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Chất đạm</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-4.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
        </div>
    </div>
</section>
<!-- popular category end -->

<!-- product tab area start -->
<section class="product-tab pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Sản Phẩm Cho Bạn</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- product tab menu start -->
                <div class="product-tab-menu pb-30">
                    <ul class="nav justify-content-center">
                        <li *ngFor="let item of outProductData">
                            <a href="javascript:void(0)" (click)="chooseTabOutProduct(item?.tab, item?.id)"
                                [class]="outProductTab == item?.tab ? 'active' : ''">{{item?.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content loadcontent" *ngIf="dataFood == null">
                    <img src="/assets/images/loading.gif">
                </div>
                <!-- product tab menu end -->
                <div class="tab-content" *ngIf="dataFood != null">
                    <div *ngFor="let item of outProductData; let i = index;"
                        [class]="outProductTab == item.tab ? 'tab-pane fade active show' : 'tab-pane fade'">
                        <div class="product-tab-wrapper">
                            <div class="row">

                                <div *ngFor="let food of dataFood | slice:0:8" class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="product-item mb-50">
                                        <div class="product-thumb">
                                            <a href="/p/{{util.generateURL(food.name, food.id)}}">
                                                <img src={{food?.image}} alt="">
                                            </a>
                                            <div class="quick-view-link">
                                                <a href="/p/{{util.generateURL(food.name, food.id)}}" data-toggle=""
                                                    data-target=""> <span data-toggle="tooltip" title="Quick view"><i
                                                            class="ion-ios-eye-outline"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="product-name">
                                                <h4 class="h5">
                                                    <a href="/p/{{util.generateURL(food.name, food.id)}}">{{food.name}}</a>
                                                    <p class="price-box"><span class="regular-price">{{food.calorie}}
                                                            calo/ {{food.weight}} g</span></p>
                                                </h4>
                                            </div>
                                            <div class="price-box">
                                                <span class="regular-price">{{util.formatPrice(food.price)}}</span>
                                                <span class="old-price"><del></del></span>
                                            </div>
                                            <div class="product-action-link">
                                                <a href="#" data-toggle="tooltip" title="Wishlist"><i
                                                        class="ion-android-favorite-outline"></i></a>
                                                <a href="javascript:void(0)" (click)="addToCart(food)"
                                                    data-toggle="tooltip" title="Add to cart"><i
                                                        class="ion-bag"></i></a>
                                                <a href="#" data-toggle="tooltip" title="Compare"><i
                                                        class="ion-ios-shuffle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product tab area end -->

<!-- choose us and testimonial area start -->
<section class="bg-gray pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>Chúng Tôi Có Gì?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="choose-us-wrapper">
                            <div class="accordion" id="choose-us">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <i class="ion-ribbon-b"></i>
                                                100% thực phẩm đều tươi ngon
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#choose-us">
                                        <div class="card-body">
                                            Đây là phương châm của chúng tôi và chúng tôi là chuyên gia trong việc cung
                                            cấp 100% thực phẩm dinh dưỡng tốt nhất trên thị trường. Chúng tôi là một
                                            doanh nghiệp thuộc sở hữu địa phương với đội ngũ chuyên gia sẽ cung cấp cho
                                            bạn một bữa ăn đủ chất và đúng nghĩa!
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-controls="collapseTwo">
                                                <i class="ion-android-car"></i>
                                                Vận Chuyển Nhanh Chóng Và Miễn Phí
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#choose-us">
                                        <div class="card-body">
                                            Vì bữa ăn là cần thiết với mỗi người nên chúng tôi đặt tiêu chí nhanh chóng,
                                            tiện lợi, dễ dàng lên hàng đầu. Với những đơn hàng có giá trị trên
                                            500.000<sup>đ</sup> thì bạn sẽ được miễn phí hoàn toàn chi phí vận chuyển
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-controls="collapseThree">
                                                <i class="ion-university"></i>
                                                Có Đội Ngũ Chuyên Gia Giàu Kinh Nghiệm
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#choose-us">
                                        <div class="card-body">
                                            Với đội ngũ chuyên gia giàu kinh nghiệm trong lĩnh vực dinh dưỡng, sẽ cung
                                            cấp cho bạn được một bữa ăn đầy đủ chất, tư vấn lộ trình điều trị bệnh cũng
                                            như ăn uống điều độ.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pt-md-60 pt-sm-60">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>Mọi Người Nói Gì?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-tab-menu">
                                <ul class="nav">
                                    <li>
                                        <a data-toggle="tab" href="#testimonial_one">
                                            <img class="testimonial-thumb"
                                                src="https://graph.facebook.com/100006910593923/picture?width=200&height=200"
                                                alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" data-toggle="tab" href="#testimonial_two">
                                            <img class="testimonial-thumb"
                                                src="https://graph.facebook.com/100009112376938/picture?width=200&height=200"
                                                alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#testimonial_three">
                                            <img class="testimonial-thumb"
                                                src="https://graph.facebook.com/100009364495572/picture?width=200&height=200"
                                                alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="testimonial-tab-wrapper">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="testimonial_one">
                                        <div class="testimonial-content-inner">
                                            <p>"Sản phẩm rất tuyệt vời, tươi ngon bổ dưỡng. Sau khi dùng lộ trình chữa
                                                bệnh xxx bên AnLanhManh thì tôi đã hoàn toàn khỏi bệnh và có một sức
                                                khỏe tốt. Cảm ơn AnLanhManh rất nhiều"</p>
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="designation">
                                                Phan Hưng / <span>Dev AnLanhManh Group</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active show" id="testimonial_two">
                                        <div class="testimonial-content-inner">
                                            <p>"Sản phẩm rất tuyệt vời, tươi ngon bổ dưỡng. Sau khi dùng lộ trình chữa
                                                bệnh xxx bên AnLanhManh thì tôi đã hoàn toàn khỏi bệnh và có một sức
                                                khỏe tốt. Cảm ơn AnLanhManh rất nhiều"</p>
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="designation">
                                                Ngô Văn Tuấn / <span>Founder AnLanhManh Group</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="testimonial_three">
                                        <div class="testimonial-content-inner">
                                            <p>"Sản phẩm rất tuyệt vời, tươi ngon bổ dưỡng. Sau khi dùng lộ trình chữa
                                                bệnh xxx bên AnLanhManh thì tôi đã hoàn toàn khỏi bệnh và có một sức
                                                khỏe tốt. Cảm ơn AnLanhManh rất nhiều"</p>
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="designation">
                                                Đỗ Văn Quyến / <span>Co-Founder AnLanhManh Group</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- choose us and testimonial area start -->

<!-- banner statistic area start -->
<div class="banner-statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-container mb-sm-30">
                    <a href="product-details.html">
                        <img src="assets/img/banner/banner-1.jpg" alt="banner-image">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-container mb-sm-30">
                    <a href="product-details.html">
                        <img src="assets/img/banner/banner-2.jpg" alt="banner-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner statistic area end -->