<!-- hero slider area start -->
<section class="hero-slider-area">
    <div class="hero-slider-active slider-arrow-style">
        <div class="single-slider hero-bg hero-bg__1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-inner">
                            <div class="slider-content">
                                <h1>Great offers<br>on fruits <br>and vegetables </h1>
                                <p>We supply highly quality, premium organic products</p>
                                <a href="javascript:void(0)" [routerLink]="['/product/food/list']"
                                    [queryParams]="{ page: 1}" class="btn">shop now</a>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/slider/slide_1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero slider area start -->

<!-- service features start -->
<section class="service-features pt-30">
    <div class="container">
        <div class="service-features-inner theme-color">
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-paper-airplane"></i>
                </div>
                <div class="features-content">
                    <h5>Free Shipping</h5>
                    <p>Free delivery on all orders over $99</p>
                </div>
            </div>
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-social-usd"></i>
                </div>
                <div class="features-content">
                    <h5>Quick Refund</h5>
                    <p>Quick refund if food is not guaranteed</p>
                </div>
            </div>
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-help-buoy"></i>
                </div>
                <div class="features-content">
                    <h5>Online Support</h5>
                    <p>We can help you anytime</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service features end -->

<!-- popular category start -->
<section class="popular-category bg-gray mt-minus pt-60 pb-60 pb-md-30 pb-sm-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center pt-62">
                    <h2>Popular Categories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color1 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Vitamin và khoáng chất</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-1.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color2 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Chất bột đường</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-2.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color3 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Chất béo</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color4 text-center">
                        <div class="category-content">
                            <h2><a href="javascript:void(0)">Chất đạm</a></h2>
                        </div>
                        <div class="category-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/img/category/cat-4.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
        </div>
    </div>
</section>
<!-- popular category end -->

<!-- product tab area start -->
<section class="product-tab pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Our Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- product tab menu start -->
                <div class="product-tab-menu pb-30">
                    <ul class="nav justify-content-center">
                        <li *ngFor="let item of outProductData">
                            <a href="javascript:void(0)" (click)="chooseTabOutProduct(item?.tab, item?.id)"
                                [class]="outProductTab == item?.tab ? 'active' : ''">{{item?.name}}</a>
                        </li>
                    </ul>
                </div>
                <!-- product tab menu end -->
                <div class="tab-content">
                    <div *ngFor="let item of outProductData; let i = index;"
                        [class]="outProductTab == item.tab ? 'tab-pane fade active show' : 'tab-pane fade'">
                        <div class="product-tab-wrapper">
                            <div class="row">

                                <div *ngFor="let food of dataFood | slice:0:8" class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="product-item mb-50">
                                        <div class="product-thumb">
                                            <a href="/product-detail/food/{{food.id}}">
                                                <img src={{food?.image}} alt="">
                                            </a>
                                            <div class="quick-view-link">
                                                <a href="/product-detail/food/{{food.id}}" data-toggle=""
                                                    data-target=""> <span data-toggle="tooltip" title="Quick view"><i
                                                            class="ion-ios-eye-outline"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="product-name">
                                                <h4 class="h5">
                                                    <a href="/product-detail/food/{{food.id}}">{{food.name}}</a>
                                                    <p class="price-box"><span class="regular-price">{{food.calorie}}
                                                            calo/ {{food.weight}} g</span></p>
                                                </h4>
                                            </div>
                                            <div class="price-box">
                                                <span class="regular-price">{{formatter.format(food.price)}} VND</span>
                                                <span class="old-price"><del></del></span>
                                            </div>
                                            <div class="product-action-link">
                                                <a href="#" data-toggle="tooltip" title="Wishlist"><i
                                                        class="ion-android-favorite-outline"></i></a>
                                                <a href="javascript:void(0)" (click)="addToCart(food)" data-toggle="tooltip" title="Add to cart"><i
                                                        class="ion-bag"></i></a>
                                                <a href="#" data-toggle="tooltip" title="Compare"><i
                                                        class="ion-ios-shuffle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product tab area end -->

<!-- choose us and testimonial area start -->
<section class="bg-gray pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>why choose us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="choose-us-wrapper">
                            <div class="accordion" id="choose-us">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <i class="ion-ribbon-b"></i>
                                                100% fresh organic food
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#choose-us">
                                        <div class="card-body">
                                            This is our motto and we are experts in delivering the best 100%
                                            organicfoods on the market. We work with more than 60 farms all
                                            over the country. We’re a locally owned business with staff that
                                            has decades of experiencein the field of health and firm roots in
                                            the health food industry
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-controls="collapseTwo">
                                                <i class="ion-android-car"></i>
                                                Fast Free Delivery
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#choose-us">
                                        <div class="card-body">
                                            This is our motto and we are experts in delivering the best 100%
                                            organicfoods on the market. We work with more than 60 farms all
                                            over the country. We’re a locally owned business with staff that
                                            has decades of experiencein the field of health and firm roots in
                                            the health food industry
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-controls="collapseThree">
                                                <i class="ion-university"></i>
                                                Rich Experience
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#choose-us">
                                        <div class="card-body">
                                            This is our motto and we are experts in delivering the best 100%
                                            organicfoods on the market. We work with more than 60 farms all
                                            over the country. We’re a locally owned business with staff that
                                            has decades of experiencein the field of health and firm roots in
                                            the health food industry
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pt-md-60 pt-sm-60">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>What People Say</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-tab-menu">
                                <ul class="nav">
                                    <li>
                                        <a data-toggle="tab" href="#testimonial_one">
                                            <img class="testimonial-thumb"
                                                src="assets/img/testimonial/team-member-1.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" data-toggle="tab" href="#testimonial_two">
                                            <img class="testimonial-thumb"
                                                src="assets/img/testimonial/team-member-2.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#testimonial_three">
                                            <img class="testimonial-thumb"
                                                src="assets/img/testimonial/team-member-3.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="testimonial-tab-wrapper">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="testimonial_one">
                                        <div class="testimonial-content-inner">
                                            <p>“ Great theme, excellent support. We had a few small issues with
                                                getting the dropdown menus to work and support fixed them and
                                                let us know which files were changed so that we could replicate
                                                from dev to production. Very happy both with the theme and the
                                                company. Highly recommended. ”</p>
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="designation">
                                                Raju Ahammad / <span>developer of HT</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active show" id="testimonial_two">
                                        <div class="testimonial-content-inner">
                                            <p>“ Great theme, excellent support. We had a few small issues with
                                                getting the dropdown menus to work and support fixed them and
                                                let us know which files were changed so that we could replicate
                                                from dev to production. Very happy both with the theme and the
                                                company. Highly recommended. ”</p>
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="designation">
                                                Jenifer brown / <span>manager of HT</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="testimonial_three">
                                        <div class="testimonial-content-inner">
                                            <p>“ Great theme, excellent support. We had a few small issues with
                                                getting the dropdown menus to work and support fixed them and
                                                let us know which files were changed so that we could replicate
                                                from dev to production. Very happy both with the theme and the
                                                company. Highly recommended. ”</p>
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="designation">
                                                erik jhonson / <span>designer of HT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- choose us and testimonial area start -->

<!-- best sellers area start -->
<section class="best-sellers pt-60 pb-60 pb-lg-30 pb-md-30 pb-sm-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="best-sellers-banner">
                    <img src="assets/img/banner/best-sellers.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="best-sellers-content pt-md-60 pt-sm-60">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title section-title__2">
                                <h2>best sellers</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-item mb-30">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="assets/img/product/product-1.jpg" alt="">
                                    </a>
                                    <div class="quick-view-link">
                                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span
                                                data-toggle="tooltip" title="Quick view"><i
                                                    class="ion-ios-eye-outline"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-description">
                                    <div class="tag-cate">
                                        <a href="product-details.html">fruits</a>
                                    </div>
                                    <div class="product-name">
                                        <h4 class="h5">
                                            <a href="product-details.html">Condimentum food</a>
                                        </h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">$160.00</span>
                                        <span class="old-price"><del>$180.00</del></span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-item mb-30">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="assets/img/product/product-2.jpg" alt="">
                                    </a>
                                    <div class="quick-view-link">
                                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span
                                                data-toggle="tooltip" title="Quick view"><i
                                                    class="ion-ios-eye-outline"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-description">
                                    <div class="tag-cate">
                                        <a href="product-details.html">fruits</a>
                                    </div>
                                    <div class="product-name">
                                        <h4 class="h5">
                                            <a href="product-details.html">Tincidunt malesuada</a>
                                        </h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">$130.00</span>
                                        <span class="old-price"><del>$140.00</del></span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-item mb-30">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="assets/img/product/product-3.jpg" alt="">
                                    </a>
                                    <div class="quick-view-link">
                                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span
                                                data-toggle="tooltip" title="Quick view"><i
                                                    class="ion-ios-eye-outline"></i></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-description">
                                    <div class="tag-cate">
                                        <a href="product-details.html">fruits</a>
                                    </div>
                                    <div class="product-name">
                                        <h4 class="h5">
                                            <a href="product-details.html">100% organic food</a>
                                        </h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">$99.00</span>
                                        <span class="old-price"><del></del></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- best sellers area end -->

<!-- banner statistic area start -->
<div class="banner-statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-container mb-sm-30">
                    <a href="product-details.html">
                        <img src="assets/img/banner/banner-1.jpg" alt="banner-image">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-container mb-sm-30">
                    <a href="product-details.html">
                        <img src="assets/img/banner/banner-2.jpg" alt="banner-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner statistic area end -->