<div class="login-register-wrapper pt-60 pb-60">
  <div class="container">
    <div class="member-area-from-wrap">
      <div class="row">
        <div class="col-lg-12">
          <div class="login-reg-form-wrap mt-md-60 mt-sm-60">
            <h2>Singup Form</h2>
            <form [formGroup] = "registerForm" (ngSubmit)="handleRegister()">
              <div class="single-input-item">
                <input type="text" #name formControlName="name" placeholder="Enter your Name" required />
                <span [hidden]='forgot' class="error" id="errorName">{{errors}}</span>
              </div>
              
              <div class="single-input-item">
                <input type="text" #username placeholder="User Name" required />
                <span [hidden]='forgot' class="error" id="errorUsername">{{errorResponse}}</span>
              </div>

              <div class="single-input-item">
                <input type="email" #email placeholder="Enter your email" required />
                <span [hidden]='forgot' class="error" id="errorEmail">{{errorResponse}}</span>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="single-input-item">
                    <input type="password" #password placeholder="Enter your password" required />
                    <span [hidden]='forgot' class="error" id="errorPassword">{{errorResponse}}</span>
                  </div>
                </div>
              </div>
              <div>
                <div class="single-input-item">
                  <input type="phone" #phone placeholder="Enter your Phone Number " required />
                  <span [hidden]='forgot' class="error" id="errorPhone">{{errorResponse}}</span>
                </div>
              </div>
              <div class="single-input-item">
                <button type="button" class="btn btn__bg btn__sqr" (click)="handleRegister(name.value,username.value,email.value,password.value,phone.value)">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
