<div class="login-register-wrapper pt-60 pb-60">
  <div class="container">
    <div class="member-area-from-wrap">
      <div class="row">
        <div class="col-lg-12">
          <div class="login-reg-form-wrap mt-md-60 mt-sm-60">
            <h2>Singup Form</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
              <div class="single-input-item">
                <input type="text" formControlName="name" placeholder="Enter your name" #name [ngClass]="{'is-invalid': submitted && registerForm.controls.name.errors}"/>
                <div *ngIf="submitted && registerForm.controls.name.errors" class="text-danger">
                  <div *ngIf="registerForm.controls.name.errors.required">Name is required</div>
                  <div *ngIf="registerForm.controls.name.errors.minlength">Name have at least 6 characters</div>
                  <div *ngIf="registerForm.controls.name.errors.maxlength">Name have at most 40 characters</div>
                </div>
              </div>
              
              <div class="single-input-item">
                <input type="text" formControlName="username" placeholder="Enter your username" #username [ngClass]="{'is-invalid': submitted && registerForm.controls.username.errors}"/>
                <div *ngIf="submitted && registerForm.controls.username.errors" class="text-danger">
                  <div *ngIf="registerForm.controls.username.errors.required">Username is required</div>
                  <div *ngIf="registerForm.controls.username.errors.minlength">Username have at least 6 characters</div>
                  <div *ngIf="registerForm.controls.username.errors.maxlength">Username have at most 15 characters</div>
                </div>
              </div>

              <div class="single-input-item">
                <input type="email" formControlName="email" placeholder="Enter your email" #email [ngClass]="{'is-invalid': submitted && registerForm.controls.email.errors}"/>
                <div *ngIf="submitted && registerForm.controls.email.errors" class="text-danger">
                    <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                    <div *ngIf="registerForm.controls.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="single-input-item">
                    <input type="password" formControlName="password" placeholder="Enter your password" #password [ngClass]="{'is-invalid': submitted && registerForm.controls.password.errors}" />
                    <div *ngIf="submitted && registerForm.controls.password.errors" class="text-danger">
                      <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                      <div *ngIf="registerForm.controls.password.errors.maxlength">Password have at most 100 characters</div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="single-input-item">
                  <input type="phone" formControlName="phone" placeholder="Enter your Phone Number " #phone [ngClass]="{'is-invalid': submitted && registerForm.controls.phone.errors}" />
                  <div *ngIf="submitted && registerForm.controls.phone.errors" class="text-danger">
                    <div *ngIf="registerForm.controls.phone.errors.required">Phone is required</div>
                    <div *ngIf="registerForm.controls.phone.errors.maxlength">Password have at most 40 characters</div>
                  </div>
                </div>
              </div>
              <div class="single-input-item">
                <button  type="button" class="btn btn__bg btn__sqr" (click)="handleRegister(name.value,username.value,email.value,password.value,phone.value)">
                  Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
